/sourceCode/.vs
/sourceCode/CommonApiServices/bin
/sourceCode/CommonApiServices/obj
/sourceCode/CommonApiServices/CommonApiServices.csproj.user
/sourceCode/ServiceRunner/bin
/sourceCode/ServiceRunner/obj
/sourceCode/CommonModels/bin
/sourceCode/CommonModels/obj
/sourceCode/nUnit_tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.AssemblyInfo.cs
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.AssemblyInfoInputs.cache
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.GeneratedMSBuildEditorConfig.editorconfig
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.GlobalUsings.g.cs
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.assets.cache
/sourceCode/nUnit_tests/obj/Debug/net8.0/nUnit_tests.csproj.AssemblyReference.cache
/sourceCode/nUnit_tests/obj/nUnit_tests.csproj.nuget.dgspec.json
/sourceCode/nUnit_tests/obj/nUnit_tests.csproj.nuget.g.props
/sourceCode/nUnit_tests/obj/nUnit_tests.csproj.nuget.g.targets
/sourceCode/nUnit_tests/obj/project.assets.json
/sourceCode/nUnit_tests/obj/project.nuget.cache
/sourceCode/ms_tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.AssemblyInfo.cs
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.AssemblyInfoInputs.cache
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.GeneratedMSBuildEditorConfig.editorconfig
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.GlobalUsings.g.cs
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.assets.cache
/sourceCode/ms_tests/obj/Debug/net8.0/ms_tests.csproj.AssemblyReference.cache
/sourceCode/ms_tests/obj/ms_tests.csproj.nuget.dgspec.json
/sourceCode/ms_tests/obj/ms_tests.csproj.nuget.g.props
/sourceCode/ms_tests/obj/ms_tests.csproj.nuget.g.targets
/sourceCode/ms_tests/obj/project.assets.json
/sourceCode/ms_tests/obj/project.nuget.cache
