/sourceCode/.vs
/sourceCode/CommonApiServices/bin
/sourceCode/CommonApiServices/obj
/sourceCode/CommonApiServices/CommonApiServices.csproj.user
/sourceCode/ServiceRunner/bin
/sourceCode/ServiceRunner/obj
/sourceCode/CommonModels/bin
/sourceCode/CommonModels/obj
/sourceCode/FileOperations/bin
/sourceCode/FileOperations/obj
/sourceCode/EncryptDecrypt.Lib/obj
/sourceCode/EncryptDecrypt.Lib/bin
/sourceCode/FileOperationServices/bin
/sourceCode/FileOperationServices/obj
/sourceCode/FilesModels/obj
/sourceCode/FilesModels/bin
