/sourceCode/.vs
/sourceCode/CommonApiServices/bin
/sourceCode/CommonApiServices/obj
/sourceCode/CommonApiServices/CommonApiServices.csproj.user
/sourceCode/ServiceRunner/bin
/sourceCode/ServiceRunner/obj
/sourceCode/CommonModels/bin
/sourceCode/CommonModels/obj
